body {
  margin: 0;
  height: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  height: 100vh;
}

#header {

}

#page {
  flex: 90%;
  background-color: pink;
  overflow-y: scroll;
}

#footer {

}