body {
  margin: 0;
  height: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  height: 100vh;
}

#header {

}

#page {
  flex: 80%;
  background-color: rgb(240, 240, 250);
  overflow-y: scroll;
}

#footer {

}

.vertical-buttons-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}